<%- include('./head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    </head>

    <body>
        <div>
            <div class="header">
                <div class="header-item"><a href="/checkin">Điểm danh</a></div>
                <div class="header-item"><a href="/checkout">Kết thúc làm</a></div>
                <div class="header-item"><a href="/absent">Nghỉ phép</a></div>
                <div class="header-item"><a href="/info">Thông tin cá nhân</a></div>
                <div class="header-item"><a href="/timelist">Giờ làm</a></div>
                <div class="header-item"><a href="/covidInfo">Thông tin Covid</a></div>
            </div>
        </div>

    </body>