<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/checkin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    </head>

    <body>
        <style>
            .datetime,
            textarea {
                padding: 8px
            }
        </style>
        <div class="container">
            <div><a href="/">Back</a></div>

            <% if(leave===false) {%>
                <p>Số ngày nghỉ của bạn đã hết</p>
                <%}%>

                    <form action="/absent" class="absent-form" method="POST">
                        <div class="form-control">
                            <label for="">Chọn ngày nghỉ</label>
                            <div id="datePicker">
                                <input name="absentDateTime" type="text" class="datetime" placeholder="Select Date.."
                                    data-input>
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="">Lý do</label>
                            <textarea name="reason" cols="30" rows="10"></textarea>
                        </div>
                        <% if(leave===false) {%>
                            <button disabled>Submit</button>
                            <%}else{%>
                                <button>Submit</button>
                                <%}%>
                    </form>


        </div>
    </body>
    <script>
        const nativeElement = document.getElementById('datePicker');
        const config = {
            wrap: true,
            dateFormat: "d/m/Y H:i",
            altFormat: "d/m/Y H:i",
            enableTime: true,
            allowInput: true,
            mode: "multiple",
            time_24hr: true,
            minTime: "1:00",
            maxTime: "8:00"
        };
        flatpickr(nativeElement, config);

    </script>