<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/checkin.css">
    </head>

    <body>
        <div class="container">
            <div><a href="/">Back</a></div>

            <table>
                <tr>
                    <td>Họ tên</td>
                    <td>Nơi làm việc</td>
                    <td>Thời gian bắt đầu</td>
                </tr>
                <tr>
                    <td>
                        <%= data.staff.name%>
                    </td>
                    <td>
                        <%= data.workPlace%>
                    </td>
                    <td>
                        <%= data.startWork %>
                    </td>
                </tr>
            </table>
        </div>
    </body>